.all-tasks {
  grid-area: lists;
}

.task-list {
  display: flex;
  font-size: 1.2rem;
  line-height: 1.7;
  list-style: circle;
  padding-left: 1.1em;
  flex-direction: column; 
  gap: 1rem; 
}

.list-name {
  cursor: pointer;
  flex-grow: 1;
}

.list-name:hover {
  opacity: 0.7;
}

.active-list {
  font-weight: 700;
}

.btn.create {
  font-size: 1.5rem;
  font-weight: 900;
  margin-right: 0.25em;
  transition: opacity 250ms ease-in;
}

.btn.create:hover {
  opacity: 0.7;
}

.task-list .delete-btn, .task-list .complete-btn {
  background-color: var(--clr-primary);
  color: white;
  border: none;
  margin-left: 0.5em;
  cursor: pointer; 
}

.completed {
  text-decoration: line-through;
  opacity: 0.5;
}

