*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-primary: rgb(18, 1, 1);
  --color-light: #f4f4f4;
  --color-dark: #333;
  --color-warning: rgb(99, 36, 36);
}
body {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0px 24px;
  font-family: "Volkorn", sans-serif;
  font-weight: 300;
  font-size: 1, 5rem;
  background-color: var(--color-primary);
  color: var(--color-light);
}

main {
  display: grid;
  grid-template-areas: "..... lists active .....";
  grid-template-rows: auto;
  grid-template-columns: minmax(100px, 300px) minmax(250px, 500px);
  gap: 10px;
  background-image: url(img/background_table.jpeg);
  background-size: cover;
}
 .main-block {
    width: auto;
    height: 800px;
 }
.header {
  margin-top: 50px;
  margin-bottom: 80px;
}

.title {
  display: flex;
  align-content: center;
  justify-content: center;
}

footer {
    margin-top: 50px;
    margin-bottom: 30px;
    display: flex;
    align-content: center;
    justify-content: center;  
}